<div class="card shadow border-0 mb-5">
    <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center py-3">
        <h5 class="mb-0 fw-normal">Create {{ target_role }}</h5>
        <button type="button" class="btn btn-info btn-sm px-4 text-white fw-bold"
            onclick="location.reload()">BACK</button>
    </div>

    <div class="card-body bg-light p-5">
        <!-- NO action / method -->
        <form id="newUserForm" class="needs-validation" >

            {% csrf_token %}

            <!-- BASIC INFO -->
            <div class="row g-4 mb-5">

                <div class="col-md-6 offset-md-6">
                    <label class="form-label small fw-bold">* Username</label>
                    <input type="text" id="generatedUsername" name="username" class="form-control" value="{{generated_username}}" readonly>
                </div>
                <div class="col-md-6 offset-md-6">
                    <label class="form-label small fw-bold">* Name</label>
                    <input type="text" name="name" class="form-control"  required>
                </div>
                <div class="col-md-6">
                    <label class="form-label small fw-bold">* Password</label>
                    <input type="text" name="password" class="form-control fw-bold" value="{{password}}" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label small fw-bold text-muted">My Coins</label>
                    <input type="text" id="my_coins" class="form-control bg-white" value="{{ parent_coins }}" readonly required>
                </div>

                <div class="col-md-6">
                    <label class="form-label small fw-bold">* Coins</label>
                    <input type="number" name="coins" class="form-control" required>
                </div>

                <div class="col-md-6 offset-md-6">
                    <label class="form-label small fw-bold">* Share Type</label>
                    <select name="share_type" class="form-select" required>
                        <option value="FIXED">Fixed</option>
                        <option value="CHANGE">Change</option>
                    </select>
                </div>

            </div>

            <!-- MATCH -->
            <div class="section-title mb-4">
                <h6 class="text-dark fw-bold">{{ target_role }} Match Share and Commission</h6>
                <hr>
            </div>

            <div class="row g-4 mb-5">

                <div class="col-md-6">
                    <label class="small text-muted fw-bold">My Match Share (%)</label>
                    <input type="text" id="my_match_share" class="form-control bg-white" value="{{my_match_share}}"
                        readonly>
                </div>

                <div class="col-md-6">
                    <label class="small fw-bold">* Match Share (%)</label>
                    <input type="number" name="match_share" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label class="small text-muted fw-bold">My Commission Type</label>
                    <input type="text" id="my_comm_type" class="form-control bg-white" value="{{my_comm_type}}" readonly>
                </div>

                <div class="col-md-6">
                    <label class="small fw-bold">* Commission Type</label>
                    <select name="match_comm_type" class="form-select" required>
                        <option value="NO_COMMISSION" selected>No Commission</option>
                        <option value="bet_by_bet">Bet by bet</option>
                    </select>
                </div>

                <div class="col-md-6">
                    <label class="small text-muted fw-bold commission">My Match Commission (%)</label>
                    <input type="text" id="my_match_comm" class="form-control bg-white" value="{{my_match_comm}}" readonly>
                </div>

                <div class="col-md-6">
                    <label class="small fw-bold commission">* Match Commission (%)</label>
                    <input type="number" name="match_commission" class="form-control" value="0" required>
                </div>
                <div class="col-md-6">
                    <label class="small text-muted fw-bold commission">My Session Commission (%)</label>
                    <input type="text" id="my_session_comm" class="form-control bg-white" value="{{my_session_comm}}" readonly>
                </div>

                <div class="col-md-6">
                    <label class="small fw-bold commission">* Session Commission (%)</label>
                    <input type="number" name="session_commission" class="form-control" value="0" required>
                </div>
            </div>

            <!-- CASINO -->
            <div class="section-title mb-4">
                <h6 class="text-dark fw-bold">{{ target_role }} Casino Share and Commission</h6>
                <hr>
            </div>

            <div class="row g-4 mb-5">

                <div class="col-md-6">
                    <label class="small text-muted fw-bold">My Casino Share (%)</label>
                    <input type="text" id="my_casino_share" class="form-control bg-white" value="{{my_casino_share}}"
                        readonly>
                </div>

                <div class="col-md-6">
                    <label class="small fw-bold">* Casino Share (%)</label>
                    <input type="number" name="casino_share" class="form-control" required>
                </div>

                <div class="col-md-6">
                    <label class="small text-muted fw-bold commission">My Casino Commission (%)</label>
                    <input type="text" id="my_casino_comm" class="form-control bg-white" value="{{my_casino_comm}}"
                        readonly>
                </div>

                <div class="col-md-6">
                    <label class="small fw-bold commission">* Casino Commission (%)</label>
                    <input type="number" name="casino_commission" class="form-control"  value="0" required>
                </div>

            </div>

            <!-- SUBMIT -->
            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary btn-lg px-5 shadow">
                    SUBMIT
                </button>
            </div>

        </form>
    </div>
</div>